@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Road+Rage&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@font-face {
  font-family: 'JejuMyengjo', 'sans-serif';
  src: url(../src/assets/fonts/JejuMyeongjo-Regular.ttf);
}
@theme {
  --color-dark: #041e23;
  --color-liner: #0E464F;
  --font-rage: 'Road Rage', 'sans-serif';
  --font-roboto: 'Roboto', 'sans-serif';
  --font-jeju: 'JejuMyengjo', 'sans-serif';
  --font-alat: 'Alatsi', 'serif';
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #041e23;
}
html, body, #root{
  height: 100%;
}